<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448981348415-hl3kuepv336mdf2lj2q1d0er26cderij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448981348415-hl3kuepv336mdf2lj2q1d0er26cderij</string>
	<key>API_KEY</key>
	<string>AIzaSyB983DdF-9Z00Rlat4dwbpkPTv260d82c0</string>
	<key>GCM_SENDER_ID</key>
	<string>448981348415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.fireTest</string>
	<key>PROJECT_ID</key>
	<string>fir-94a82</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-94a82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448981348415:ios:b4f3da1a272243a058088a</string>
	<key>DATABASE_URL</key>
	<string>https://fir-94a82.firebaseio.com</string>
</dict>
</plist>